@font-face {
    font-family: light;
    src: url(./Rowdies/Rowdies-Light.ttf);
}

@font-face {
    font-family: bold;
    src: url(./Rowdies/Rowdies-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(./Rowdies/Rowdies-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#particles-js {
    background-color: white;
    height: 100%;
    position: relative;
}

#particles-js .conatiner {
    position: absolute;
    width: 100vw;
    margin: 15rem 0;
}

#typewriter1 {
    font-size: 60px;
    font-weight: 700;
    font-family: bold;
    margin: 2rem 0;
    text-align: center;
    letter-spacing: 2px;
}

#typewriter2 {
    font-size: 30px;
    font-family: light;
    text-align: center;
    letter-spacing: 2px;
}